body{
    margin: 0;
    padding: 0;
}
.main-container{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
}
.main-container::-webkit-scrollbar{
    display: none;
}
.navbar{
    background-color: white;
    width: 100%;
    height: 110px;
    display: flex;
    font-size: 14px;
    color: #4a4a4a;
    position: sticky;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    z-index: 20;
    box-shadow: 0 86px 34px rgba(0, 0, 0, .01), 0 48px 29px rgba(0, 0, 0, .03), 0 5px 12px rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05);
}
.container-child{
    width: 100vw;
    height: 75%;
    background-image: url("HeroImage.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    font-size: 37px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.search-bar{
    background-color: white;
    width: 73%;
    height: 110px;
    border-radius: 32px;
    display: flex;
    position: relative;
    font-size: 24px;
    font-weight: 100;
    color: #4a4a4a;
}
.search-bar div{
    box-sizing: border-box;
}

.both-side-arrow{
    position: absolute;
    height: 40px;
    width: 40px;
    left: 250px;
    top: 35px;
    border-radius: 100%;
    border: 0.5px solid #4a4a4a;
    z-index: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.from-box{
    height: 100%;
    width: 27%;
    display: flex;
    align-items: center;
    gap: 4%;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
    cursor: pointer;
}
.To-box{
    height: 100%;
    width: 27%;
    display: flex;
    align-items: center;
    gap: 4%;
    border-left: 0.5px solid #6c6868;
    border-right: 0.5px solid #6c6868;
    cursor: pointer;
}
.Date-box{
    height: 100%;
    width: 19%;
    display: flex;
    align-items: center;
    gap: 6%;
    cursor: pointer;
}
.Search-box{
    height: 100%;
    width: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(216, 78, 85);
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
    cursor: pointer;
}
.offers-box{
    width: 90%;
    height: 310px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    top: 460px;
    z-index: 10;
    left: 100px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 25px;
    font-weight: 400;
    font-size: 32px;
    color: #4a4a4a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}
.offers-box a{
    color: rgb(16, 52, 217);
    font-weight: 600;
    border: 1px solid rgb(170, 170, 170);
    padding: 10px 24px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 4%;
    margin-top: 2%;
    height: 35px;
    border-radius: 30px;
}
.cards{
    display: flex;
    gap:2%;
    margin-bottom: 3%;
    cursor: pointer;
}
.card1{
    height: 98%;
    width: 27%;
    border-radius: 10px;
    margin-top: 1%;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(71.04deg, rgb(12, 57, 139) -6.92%, rgb(62, 118, 216) 109.43%);
    display: flex;
}
.sponser-box{
    width: 100%;
    height: 15%;
    margin-top: 14rem;
    text-align: center;
    cursor: pointer;
}
.sponser-box img{
    height: 80px;
    border-radius: 10px;
    width: 900px;
}
.ticket-book{
    width: 100vw;
    height: 700px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ticket-section{
    height: 90%;
    width: 85%;
    border-radius: 50px;
    display: flex;
}
.card-element{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.card-element1 {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-image: url(https://s3.rdbuz.com/web/images/homeV2/AboutUs/aboutUsImg.svg);
    background-repeat: no-repeat;
}
.card-element h2{
    font-weight: 400;
    font-size: 2.9rem;
    line-height: 3.75rem;
    color: rgb(29, 29, 29);
    width: 34.5rem;
    margin: 0px;
}
.Refer-section{
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.refer{
    height: 80%;
    width: 85%;
    border-radius: 50px;
    display: flex;
    background-image: url(https://s1.rdbuz.com/web/images/homeV2/appinstall/appInstallbg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
}
.stats{
    display: flex;
    width: 100vw;
    height: 200px;
    justify-content: center;
    margin-top: 180px;
}
.stats2{
    display: flex;
    height: 200px;
    justify-content: center;
    margin-top: 50px;
}
.train:hover{
    background-color: #cfc3c3;
    border-radius: 10px;
}