body{
    margin: 0;
    padding: 0;
}
.main-container{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
}
.main-container::-webkit-scrollbar{
    display: none;
}
.navbar{
    background-color: white;
    width: 100%;
    height: 110px;
    display: flex;
    font-size: 14px;
    color: #4a4a4a;
    position: sticky;
    top: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    z-index: 20;
    box-shadow: 0 86px 34px rgba(0, 0, 0, .01), 0 48px 29px rgba(0, 0, 0, .03), 0 5px 12px rgba(0, 0, 0, .05), 0 0 0 rgba(0, 0, 0, .05);
}
.search-bar{
    background-color: white;
    width: 73%;
    height: 110px;
    border-radius: 32px;
    display: flex;
    position: relative;
    font-size: 24px;
    font-weight: 100;
    color: #4a4a4a;
}
.sponser-box{
    width: 100%;
    height: 15%;
    margin-top: 14rem;
    text-align: center;
    cursor: pointer;
}
.sponser-box img{
    height: 80px;
    border-radius: 10px;
    width: 900px;
}
.Refer-section{
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.refer{
    height: 80%;
    width: 85%;
    border-radius: 50px;
    display: flex;
    background-image: url(https://s1.rdbuz.com/web/images/homeV2/appinstall/appInstallbg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
}
.stats{
    display: flex;
    width: 100vw;
    height: 200px;
    justify-content: center;
    margin-top: 180px;
}
.stats2{
    display: flex;
    height: 200px;
    justify-content: center;
    margin-top: 50px;
}
.card1:hover{
    transform: scale(1.1);
}


.FREQ-asked-question{
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.FREQ-section-1{
    width: 100%;
    height: 100px;
    font-size: 2.4rem;
}
.FREQ-section-1 p{
    margin: 0;
    color: #000000;
    margin-left: 110px;
    align-items: center;
    font-weight: 400;
}
.FREQ-section-2{
    width: 100%;
    height: 50px;
    display: flex;
    gap: 4%;
}
.FREQ-section-2 div{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #4a4a4a;
    font-weight: 400;
    box-sizing: border-box;
    cursor: pointer;
}
.FREQ-section-2 div:hover{
    box-sizing: border-box;
    border-bottom: 2px solid #726f6f;
}
.FREQ-section-3{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(600px - 160px);
    justify-content: space-around;
}
.questions{
    margin-left: 110px;
    height: 70px;
    width: 70%;
    border: 0.5px solid #b2a6a6;
    display: flex;
    padding-inline: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}