body{
    margin: 0;
    padding: 0;
}
.main-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.navbar{
    width: 100vw;
    height: 110px;
    position: fixed;
    top: 0;
    display: flex;
    font-size: 14px;
    color: #4a4a4a;
    padding-left: 60px;
    padding-right: 60px;
    word-break: break-word;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
}